[submodule "bundle/bufferlist"]
	path = bundle/bufferlist
	url = git://github.com/rockpiper/vim-bufferlist
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
